<div ng-init="loadLibrary()">
	<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12" style="padding:0px">
		<div class="panel-title" style="background-color:#eee;padding:10px;font-size:20px">Library List
			<span style="float:right;font-size:15px">{{videoList.length}} videos</span></div>
		<div class="panel-body" ng-repeat="items in videoList">{{items.id}}</div><br>
		
	</div>
	<div class="col-lg-9 col-md-9 col-xs-12 col-sm-12" style="padding:0px">
		<div class="panel-title" style="background-color:#eee;padding:10px 10px 0px 10px;font-size:20px">Video</div>
		<div style="padding:10px" my-youtube playList="{{playList}}" playListStart="{{playListStart}}" autoplay></div>
			  <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
			  	
				 <label for="addVideoUrl">VideoURL:</label>
			      <input type="text" class="form-control input-sm" id="addVideoUrl"
			      	ng-model="obj.addVideoUrl"
			       placeholder="Enter videoURL">
			       
			      <label for="addVideoId">VideoID:</label>
			      <input type="text" class="form-control input-sm" id="addVideoId"
			      	ng-model="obj.addVideoId"
			       placeholder="Enter videoId">
			       
			      <label for="addVideoStartTime">StartTime:</label>
			      <input type="text" class="form-control input-sm" id="addVideoStartTime"
			      	ng-model="obj.addVideoStartTime"
			       placeholder="Enter Video StartTime">
			       
			       <label for="addVideoEndTime">EndTime:</label>
			      <input type="text" class="form-control input-sm" id="addVideoEndTime"
			      	ng-model="obj.addVideoEndTime"
			       placeholder="Enter Video EndTime">
			  
				  </div>
			    <button class="btn btn-primary center-block" style="" ng-click="addVideo(obj)">ADD</button>
	</div>
	 
</div>